#accessibility-widget-root {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  background: rgb(0, 71, 6) ;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}
#accessibility-widget-root button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
